@import url("https://rsms.me/inter/inter.css");
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

html,
body,
#app {
  font-family: Inter, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #1a202c;
  color: #f7fafc;
}
